{% extends 'SiteBundle::layout.html.twig' %}

{% block title %}SiteBundle:Messages:index{% endblock %}

{% block body %}
<div class="page messages">
	<div class="messages-esq">
		<div class="content">
			<h1>Daniel Alcanja</h1>
			
			<div class="content-esq">				
				<a class="menuMes menuPink menuPinkAtivo" href="#" title="Mensagens" data="box-messages"><span class="pink"></span>Mensagens <span class="total">3</span></a>
				<a class="menuMes menuPink" href="#" title="Amigos" data="box-amigos"><span class="pink"></span>Amigos <span class="total">45</span></a>
				<a class="menuMes menuPink" href="#" title="Favoritos" data="box-favoritos"><span class="pink"></span>Favoritos <span class="total">15</span></a>
				<a class="menuMes menuPink" href="#" title="Informações" data="box-info"><span class="pink"></span>Informações de Usuário</a>
			</div>
		</div>
	</div>
	<div class="messages-info rollBar">
		<div class="content">
			<div class="mes-box box-messages">
				<h2>Novas</h2>
				<div class="clr h20"></div><div class="clr h20"></div>
				
				<a class="toggle" href="#" title="Givanildo R. de Oliveira">
					Givanildo R. de Oliveira <em>25 minutos atrás</em><span></span>
				</a>
				<div class="mes-content">
					<p>Lorekkj asldfkj asdflkj asdlkjasdflkj asdflkj asdflkj asdflkj asdflkj asdflkj asdflk jasd.</p>
					
					<div class="clr h20"></div>
					<input class="btn-padrao-m dir" type="button" value="Deletar">
					<input class="btn-padrao-m dir marRig05" type="button" value="Responder">
					<div class="clr"></div>
				</div>
				<a class="toggle" href="#" title="Walter Cruz">
					Walter Cruz <em>25 minutos atrás</em><span></span>
				</a>
				<div class="mes-content">
					<p>Lorekkj asldfkj asdflkj asdlkjasdflkj asdflkj asdflkj asdflkj asdflkj asdflkj asdflk jasd.</p>
					
					<div class="clr h20"></div>
					<input class="btn-padrao-m dir" type="button" value="Deletar">
					<input class="btn-padrao-m dir marRig05" type="button" value="Responder">
					<div class="clr"></div>
				</div>
				<a class="toggle" href="#" title="Daniel Vieira">
					Daniel Vieira<em>25 minutos atrás</em><span></span>
				</a>
				<div class="mes-content">
					<p>Lorekkj asldfkj asdflkj asdlkjasdflkj asdflkj asdflkj asdflkj asdflkj asdflkj asdflk jasd.</p>
					
					<div class="clr h20"></div>
					<input class="btn-padrao-m dir" type="button" value="Deletar">
					<input class="btn-padrao-m dir marRig05" type="button" value="Responder">
					<div class="clr"></div>
				</div>
				
				
				<div class="clr h20"></div><div class="clr h20"></div>
				<h2>Arquivos</h2>
				<div class="clr h20"></div><div class="clr h20"></div>
				
				<a class="toggle" href="#" title="Givanildo R. de Oliveira">
					Givanildo R. de Oliveira <em>25 minutos atrás</em><span></span>
				</a>
				<div class="mes-content"><p>Lorekkj asldfkj asdflkj asdlkjasdflkj asdflkj asdflkj asdflkj asdflkj asdflkj asdflk jasd.</p></div>
				<a class="toggle" href="#" title="Walter Cruz">
					Walter Cruz <em>25 minutos atrás</em><span></span>
				</a>
				<div class="mes-content"><p>Dadfkj asdflkj flkj asdflkj asdflkj asdflkj asdflkj asdflkj asdflk jasd.</p></div>
				<a class="toggle" href="#" title="Daniel Vieira">
					Daniel Vieira<em>25 minutos atrás</em><span></span>
				</a>
				<div class="mes-content"><p>Oasdflk jasdflkj flkj asdflkj asdflkj asdflkj asdflk jasd.</p></div>
			</div>
			
			<div class="mes-box box-amigos">
				<h2>Amigos</h2>
				<div class="clr h20"></div><div class="clr h20"></div>
			</div>
			
			<div class="mes-box box-favoritos">
				<h2>Favoritos</h2>
				<div class="clr h20"></div><div class="clr h20"></div>
			</div>
			
			<div class="mes-box box-info">
				<h2>Informações de Usuário</h2>
				<div class="clr h20"></div><div class="clr h20"></div>
			</div>
			
			
			<div class="clr altRolagem"></div>
			<div class="clr altRolagem"></div>
			<div class="clr h10"></div>
		</div>		
	</div>
</div>
<div class="create" style="height:1px; display:block;"></div>
{% endblock %}