{% extends 'SiteBundle::layout.html.twig' %}

{% block title %}SiteBundle:Explore:index{% endblock %}

{% block body %}

<script>
barBox = ".explore";

jQuery(document).ready(function(){
	jQuery(barBox).css("min-height",jQuery(window).height());
	
	jQuery(barBox).mCustomScrollbar({
		scrollInertia: 0,
		autoHideScrollbar: true,
		advanced:{
			updateOnBrowserResize: true,
			updateOnContentResize: true
		}
	});
	
	jQuery("a.order").hover(function(){
		if(!(jQuery(this).find("span").hasClass("ativo"))){
			jQuery(this).find("span").addClass("hover");
		}
		return false;
	}, function(){
		jQuery(this).find("span").removeClass("hover");
	});
	jQuery("a.order").click(function(){
		if(!(jQuery(this).find("span").hasClass("ativo"))){
			jQuery("a.order").find("span").removeClass("ativo");
			jQuery(this).find("span").addClass("ativo");
		} else {
			jQuery(this).find("span").removeClass("ativo");
		}
		return false;
	});
	
	jQuery(barBox).mCustomScrollbar({
		scrollInertia: 0,
		autoHideScrollbar: true,
		advanced:{
			updateOnBrowserResize: true,
			updateOnContentResize: true
		}
	});
	
	barLateral(false,3000);
	
	loadFavorites();
	var i=1, pg = 'Explore';
	directive = {
		'li.photo': {
			'obj<-data': {
				'@data':'obj.idFoursquare',
				'@rel':'obj.id',
				'@class+':function(arg){
					if(i == 10) {
						posObj = ' li-1'; i=1;
					} else { 
						posObj = ' li-'+i 
					};
					i++;
					return " " + this.idFoursquare + posObj;
				},
				'a.box@href': '/#{obj.id}/#{obj.idInstagram}',
				'.timeago@title': function(){
					return dateAgo('timeago',this.dateUpdated)
				},
				'.image img@data-original':'obj.coverPic',
				'.favorite@class+': function(){ if(isFavorite(this.id)) return ' this-fav'; },
				'h2.title': 'obj.name',
				'div.back@data': '/#{obj.id}/#{obj.idInstagram}',
			}
		}
	}
	
	compila = $p('ul.content').compile(directive);
	loadLocations();
});
</script>

<div class="explore">
	<div class="explore-esq">
		<div class="content">
			<h1>Explore</h1>
			<span class="titleAtivo marTop25">Os melhores lugares do mundo</span>
			
			<div class="content-esq">
				<h3>Melhores cidades</h3>
				<div class="box-city">
					<a class="city borRad02" href="#" title="Londes">Londres</a>
					<a class="city borRad02" href="#" title="Rio de Janeiro">Rio de Janeiro</a>
					<a class="city borRad02" href="#" title="Paris">Paris</a>
					<a class="city borRad02" href="#" title="Ibiza">Ibiza</a>
					<a class="city borRad02" href="#" title="Londes">Londres</a>
					<a class="city borRad02" href="#" title="Rio de Janeiro">Rio de Janeiro</a>
					<a class="city borRad02" href="#" title="Paris">Paris</a>
					<a class="city borRad02" href="#" title="Ibiza">Ibiza</a>
					<a class="city borRad02" href="#" title="Londes">Londres</a>
				</div>
				
				<div class="clr h25"></div>
				<h3>Ordernar por</h3>
				
				<a class="order" href="#" title="Ordenar por Cidade">Cidade <span></span></a>
				<a class="order" href="#" title="Ordenar por Mais Spooters">MaisSpooters <span></span></a>
				<a class="order" href="#" title="Ordenar por Mais amigos">Mais amigos <span></span></a>
			</div>
		</div>
	</div>
</div>

<ul class="content template">
	<li class="photo" data="" rel="">
		<a href="" class="box">
			<div class="time">
				<div class="clock"></div>
				<div class="tmp"><span class="timeago" title=""></span></div>
			</div>
			<div class="image">
				<img class="lazy" src="/bundles/site/images/photo-placeholder.png" data-original="giva" />
			</div>
			<div class="info">

				<div class="favorite" title=""></div>

				<h2 class="title"></h2>
				<div class="more">25 Spooters - 2 Friends</div>
			</div>
		</a>
		<div class="back" data=""></div>
	</li>
</ul>
<div id="photo-list">
</div>

{% endblock %}