{% extends 'SiteBundle::layout.html.twig' %}

{% block title %}SiteBundle:Explore:index{% endblock %}

{% block body %}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Welcome to the Explore:index page</h1>
{% endblock %}
