{% extends 'SiteBundle::layout.html.twig' %}

{% block title %}SiteBundle:About:index{% endblock %}

{% block body %}
<script>
jQuery(document).ready(function(){
	jQuery(site).css("visibility","visible");
	jQuery(".sobre-menu").css("min-height",jQuery(window).height());
	
	jQuery(".sobre-ul a").click(function(e){
		e.preventDefault();
		if(!(jQuery(this).hasClass("ativo"))){
			jQuery(".sobre-ul a").removeClass("ativo");
			jQuery(this).addClass("ativo");
			var pg = jQuery(this).attr("data");
			jQuery(".sobre-pg").slideUp("slow");
			jQuery("."+pg).slideDown("slow");
			jQuery("body").mCustomScrollbar("update");
		}
	});
});
</script>
<div class="sobre">
	<div class="sobre-menu">
		<div class="content">
			<h1>Sobre</h1>
			<ul class="sobre-ul">
				<li class="noBorTop"><a href="/valores" class="ativo" data="val">Valores</a></li>
				<li><a href="/questoes" data="que">Questões</a></li>
				<li><a href="/carreiras" data="car">Carreiras</a></li>
			</ul>
		</div>
	</div>
</div>
<!--
var obj = [];
jQuery(".opt-box").each(function(i){
	obj[i] = jQuery(this);
	jQuery(obj[i]).click(function(){
		jQuery(".opt-box").removeClass("active");
		jQuery(this).addClass("active");
		var a = parseInt(i + 1);
		var a2 = parseInt(i + 2);
		jQuery(".b"+a).animate( {width : 800 },500);
		jQuery(".b"+i).animate({ width : 0 },500);
		jQuery(".b"+a2).animate({ width : 0 },500);
		
		return false;
	});
});
<div class="index-shadown">
	<div class="index-box">
		<div class="box-geral">
			<div class="box b1 login" style="background:url('http://3.bp.blogspot.com/-0UMs_Hpa-2E/Ua1E2zp_vpI/AAAAAAAAEdM/hz7drOu6K1g/s1600/balada-marquee-las-vegas.jpg') top;">
				<div class="content">
					<h1>See what's <br /> Going on.</h1>
					<div class="clr h20"></div>
					<a href="http://instagram.com/" class="btn-login">Login with Instagram</a>
					<div class="clr h20"></div>
					<span>Lorem asdflkj asfljk asflkj <br>asflkj asdflkj asf <br> asfljkasfd <a href="http://instagram.com/" class="index-sign">sign up</a>.</span>
					
					<a href="http://instagram.com/" class="index-get">Get the app.</a>
				</div>
			</div>
			<div class="box b2 whats" style="background:url('http://imguol.com/2013/03/20/19mar2013---falleros---como-sao-chamados-os-participantes-das-fallas-de-valencia---assistem-a-cremacao-dos-bonecos-o-que-marca-o-fim-da-festa-realizada-anualmente-de-15-a-19-de-marco-1363754611647_956x500.jpg') center;">
				<div class="content">
					<h1>What is <br /> Coolspots?</h1>
					<div class="clr h20"></div>
					<span>Lorem asdflkj asfljk asflkj <br>
					asflkj asdflkj asf  asflkjadsf<br> 
					dskjflkj asforem asdflkj asfljk asflkj <br>
					asflkj asdflkj asf <br> 
					osifasf orem asdflkj asfljk asflkj <br>
					asflkj asdflkj asf <br>
					Lorem asdflkj asfljk asflkj <br>
					asflkj asdflkj asf <br>  
					asfljkasfd <a href="http://instagram.com/" class="index-sign">sign up</a>.</span>
				</div>
			</div>
			<div class="box b3 use" style="background:url('http://www.gazetadopovo.com.br/gaz/wp-content/uploads/2012/06/festa-586x355.jpg') center;">
				<div class="content">
					<h1>See what's <br /> Going on.</h1>
					<div class="clr h20"></div>
					<a href="http://instagram.com/" class="btn-login">Login with Instagram</a>
					<div class="clr h20"></div>
					<span>Lorem asdflkj asfljk asflkj <br>asflkj asdflkj asf <br> asfljkasfd <a href="http://instagram.com/" class="index-sign">sign up</a>.</span>
					
					<a href="http://instagram.com/" class="index-get">Get the app.</a>
				</div>
			</div>
			<div class="box b4 where">
				<div class="content">
					<h1>See what's <br /> Going on.</h1>
					<div class="clr h20"></div>
					<a href="http://instagram.com/" class="btn-login">Login with Instagram</a>
					<div class="clr h20"></div>
					<span>Lorem asdflkj asfljk asflkj <br>asflkj asdflkj asf <br> asfljkasfd <a href="http://instagram.com/" class="index-sign">sign up</a>.</span>
					
					<a href="http://instagram.com/" class="index-get">Get the app.</a>
				</div>
			</div>
		</div>
		<div class="options">
			<a href="#" class="opt-box active"></a>
			<a href="#" class="opt-box"></a>
			<a href="#" class="opt-box"></a>
			<a href="#" class="opt-box"></a>
		</div>
	</div>
</div-->
{% endblock %}