{% extends 'SiteBundle::layout.html.twig' %}

{% block title %}SiteBundle:Favorites:index{% endblock %}

{% block body %}
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Welcome to the Favorites:index page</h1>
{% endblock %}
