{% extends 'SiteBundle::layout.html.twig' %}

{% block title %}SiteBundle:Favorites:index{% endblock %}

{% block body %}

<script>
pg = 'Favorites';
var totFav = 0;
function loadLocationsFavorites() {
	var url =  '/json/favorites';
	var params =  {
		page: pagina
	};
	jsonCall(url, params, callbackLocationsFavorites);	
}
function callbackLocationsFavorites(obj) {
	if(!obj) {
		console.log("ERRO DURANTE EXECUÇÃO DA CHAMADA AJAX");
		return(false);
	}
	
	if(obj.meta.status === 'ERROR') {
		console.log(obj.meta.message);
		return(false);
	}
	totFav = obj.data.length;
	totFav = (totFav == '0' ? "Nenhum lugar favorito" : (totFav == '1' ? "1 lugar favorito" : totFav + " lugares favoritos"));
	jQuery(".favorites-esq .fav").text(totFav);
	
	divide(obj);
	if(one) jQuery("#photo-list").append(compila(part1));
	if(two) jQuery("#photo-list").append(compila(part2));
		
	pagina++;
	
	for(var i in obj.data){
		arrLast[obj.data[i].idLocation.idFoursquare] = [];
		for(var j in obj.data[i].lastPhotos){
			arrLast[obj.data[i].idLocation.idFoursquare][j] = obj.data[i].lastPhotos[j].lowResolution;
		}
	}
}

barBox = ".favorites";
jQuery(document).ready(function(){
	jQuery("#photo-list").css("min-height",jQuery("body").height());
	
	jQuery(barBox).mCustomScrollbar({
		scrollInertia: 0,
		autoHideScrollbar: true,
		advanced:{
			updateOnBrowserResize: true,
			updateOnContentResize: true
		}
	});
	
	barLateral(false,3000);
	
	var i=1;
	directive = {
		'li.photo': {
			'obj<-data': {
				'@data':'obj.idLocation.idFoursquare',
				'@rel':'obj.idLocation.id',
				'@class+':function(arg){
					if(i == 10) {
						posObj = ' li-1'; i=1;
					} else { 
						posObj = ' li-'+i 
					};
					i++;
					return " " + this.idLocation.idFoursquare + posObj;
				},
				'a.box@href': '/#{obj.idLocation.id}/#{obj.idLocation.idInstagram}',
				'.timeago': 'obj.idLocation.dateUpdated.timestamp',
				'.image img@data-original':'obj.lastPic',
				'h2.title': 'obj.name',
				'div.back@data': '/#{obj.idLocation.id}/#{obj.idLocation.idInstagram}',
			}
		}
	}
	
	compila = jQuery('ul.content').compile(directive);
	loadLocationsFavorites();
});
</script>

<div class="favorites">
	<div class="favorites-esq">
		<div class="content">
			<h1>Favoritos</h1>
			<span class="fav"></span>
			
			<div class="content-esq">				
				<h3 class="marNo">Lugar mais frequentado</h3>
				
				<h2>Jasper Corner Tap & Kitchen</h2>
			
				<h3>Estabelecimentos</h3>
				<a class="menuPink estabAtivo" href="#" title="Restaurantes"><span class="pink"></span> Restaurantes <span class="total">210</span></a>
				<a class="menuPink" href="#" title="Bares"><span class="pink"></span>Bares <span class="total">350</span></a>
				<a class="menuPink" href="#" title="Cafés"><span class="pink"></span>Cafés <span class="total">28</span></a>
				<a class="menuPink" href="#" title="Sugestões"><span class="pink"></span>Sugestões <span class="total">10</span></a>
				
				<div class="clr h25"></div>
				<h3>Ordernar por</h3>
				
				<a class="order" href="#" title="Ordenar por Cidade">Cidade <span></span></a>
				<a class="order" href="#" title="Ordenar por Mais Spooters">Mais Spooters <span></span></a>
				<a class="order" href="#" title="Ordenar por Mais amigos">Mais amigos <span></span></a>
			</div>
		</div>
	</div>
</div>

<ul class="content template">
	<li class="photo" data="" rel="">
		<a href="" class="box">
			<div class="time">
				<div class="clock"></div>
				<div class="tmp"><span class="timeago" title=""></span></div>
			</div>
			<div class="image">
				<img class="lazy" src="/bundles/site/images/photo-placeholder.png" data-original="giva" />
			</div>
			<div class="info">

				<div class="favorite this-fav" title=""></div>

				<h2 class="title"></h2>
				<div class="more">25 Spooters - 2 Friends</div>
			</div>
		</a>
		<div class="back" data=""></div>
	</li>
</ul>
<div id="photo-list">
</div>

{% endblock %}