{% extends page == 1 ? 'SiteBundle::layout.html.twig' : 'SiteBundle::blank.html.twig' %}

{% block body %}

<script>
jQuery(document).ready(function(){
	loadFavorites();
	
	var i=1;
	directive = {
		'li.photo': {
			'obj<-data': {
				'@data':'obj.idFoursquare',
				'@rel':'obj.id',
				'@class+':function(arg){
					if(i == 10) {
						posObj = ' li-1'; i=1;
					} else { 
						posObj = ' li-'+i 
					};
					i++;
					return " " + this.idFoursquare + posObj;
				},
				'a.box@href': '/#{obj.id}/#{obj.idInstagram}',
				'.timeago@title': function(){
					return dateAgo('timeago',this.dateUpdated)
				},
				'.image img@data-original':'obj.coverPic',
				'.favorite@class+': function(){ if(isFavorite(this.id)) return ' this-fav'; },
				'h2.title': 'obj.name',
				'div.back@data': '/#{obj.id}/#{obj.idInstagram}',
			}
		}
	}
	
	compila = $p('ul.content').compile(directive);
	loadLocations();
});
</script>
<ul class="content template">
	<li class="photo" data="" rel="">
		<a href="" class="box">
			<div class="time">
				<div class="clock"></div>
				<div class="tmp"><span class="timeago" title=""></span></div>
			</div>
			<div class="image">
				<img class="lazy" src="/bundles/site/images/photo-placeholder.png" data-original="giva" />
			</div>
			<div class="info">

				<div class="favorite" title=""></div>

				<h2 class="title"></h2>
				<div class="more">25 Spooters - 2 Friends</div>
			</div>
		</a>
		<div class="back" data=""></div>
	</li>
</ul>
<div id="photo-list">
</div>

{% endblock %}