@font-face {
    font-family: 'Museo300-Regular';
    src: url('../fonts/Museo/Museo300-Regular.eot');
    src: url('../fonts/Museo/Museo300-Regular.eot?#iefix'),
         url('../fonts/Museo/Museo300-Regular.woff') format('woff'),
         url('../fonts/Museo/Museo300-Regular.ttf') format('truetype'),
         url('../fonts/Museo/Museo300-Regular.svg#Museo300-Regular') format('svg');
}
@font-face {
    font-family: 'Museo500-Regular';
    src: url('../fonts/Museo/Museo500-Regular.eot');
    src: url('../fonts/Museo/Museo500-Regular.eot?#iefix'),
         url('../fonts/Museo/Museo500-Regular.woff') format('woff'),
         url('../fonts/Museo/Museo500-Regular.ttf') format('truetype'),
         url('../fonts/Museo/Museo500-Regular.svg#Museo500-Regular') format('svg');
}

* { margin:0; padding:0; list-style:none; border:0; outline:none; text-decoration:none; }
html,body {height:100%;}
body { background:#FFF; overflow:hidden; font-family: 'Museo500-Regular'; font-size:15px; }
em { font-style:normal; }

.index-shadown { width:100%; height:100%; background:url('../images/alpha.png'); position:fixed; top:0; left:0; z-index:5; display:block; }
.index-shadown .index-box { width:800px; height:500px; border:2px solid #FFF; position:absolute; top:50%; left:50%; margin:-225px auto auto -400px; overflow:hidden; }
.index-shadown .index-box .box-geral { width:350px; height:500px;  } 
.index-shadown .index-box .box-geral .box { width:800px; height:500px; display:block; float:left; position:relative; z-index:1; font-family: 'Museo300-Regular'; font-weight:normal; color:#FFF; }
.index-shadown .index-box .box .content { padding:20px; }
.index-shadown .index-box .box .content h1 { font-weight:normal; font-size:40px; }
.index-shadown .index-box .box .content span { font-weight:bold; }
.index-shadown .index-box .options { position:absolute; bottom:10px; right:10px; z-index:2; }
.index-shadown .index-box .options a:link, .index-shadown .index-box .options a:visited { width:10px; height:10px; display:block; float:left; margin-left:5px; background:url('../images/icons.png') -215px -50px no-repeat; }
.index-shadown .index-box .options a:hover, .index-shadown .index-box .options a.active { background-position:-215px -60px; }

a.index-sign:link, a.index-sign:visited { color:#D74B70; }
a.index-get:link, a.index-get:visited { position:absolute; bottom:20px; left:20px; font-size:20px; color:#FFF; }

.top-bar { width:100%; position:fixed; top:0; left:0; z-index:2; }
.top-bar-ico { width:53px; height:50px; position:absolute; top:10px; left:20px; line-height:50px; background:url('../images/icons.png') 0px 9px no-repeat #31749B; display:none; cursor:pointer; }
.top-bar .back { height:50px; margin:10px 20px; background:#31749B; color:#FFF; line-height:50px; }

.aonde { float:left; }
.aonde .logo { width:150px; height:50px; display:block; float:left; background:url('../images/logo.png') no-repeat center; }
.aonde .ico-onde { width:50px; height:50px; float:left; background:url('../images/icons.png') 0px 9px no-repeat; }
.aonde .topo-input { float:left; background:#31749B; padding:0 8px 8px 0; padding-bottom:0; }
.aonde .topo-input .ico-input { width:6px; height:50px; background:url('../images/icons.png') -64px 20px no-repeat; float:left; }
.aonde .topo-input .inp-postar { width:250px; max-width:250px; height:30px; margin-top:10px; padding:0 5px; border:0; line-height:30px; background:#FFF; color:#AAA; float:left; resize: none; }
.aonde .post { margin:10px 0 0 -3px; }
input, textarea { font-family: 'Museo500-Regular'; font-size: 13px; }

.btn-padrao { padding:0 20px; height:30px; line-height:30px; background:#518FB3; color:#FFF; cursor:pointer; }
.btn-padrao:hover, .btn-padrao-m:hover { background-color:#143F58; }
.btn-padrao-m { padding:0 15px; height:25px; line-height:25px; background:#518FB3; color:#FFF; cursor:pointer; }
.btn-login:link, .btn-login:visited { display:inline-block; padding:0 25px; height:50px; line-height:50px; background:#1B5679; color:#FFF; font-family: 'Museo500-Regular'; font-size:15px; }
.btn-login:hover { background-color:#143F58; }

.best { margin:0 30px 0 50px; line-height:50px; float:left; cursor:pointer; position:relative; }
.best span { display:inline-block; height:50px; float:left; }
.best .ico-melhores { width:23px; margin-left:8px; background:url('../images/icons.png') -92px 23px no-repeat; }
.best:hover .ico-melhores { background-position:-92px -35px; }

.best ul { width:275px; background:#FFF; position:absolute; top:49px; left:-70px; display:none; }
.best ul li { height:27px; text-align:center; line-height:27px; border-bottom:1px solid #98BFD5; }
.best ul li a { height:20px; line-height:20px; margin-top:8px; display:block; text-align:center; color:#000; border-left:4px solid #FFF; border-right:4px solid #FFF;  }
.best ul li a:hover { border-color:#FF5885; }

.top-ico { padding:0 15px; display:block; height:50px; float:left; position:relative; cursor:pointer; }
.top-ico:hover { background:#296689; }
.top-ico em.add-event { width:32px; height:100%; display:block; background:url('../images/icons.png') -137px 10px no-repeat; }
.top-ico em.add-event .hint { width:132px; height:40px; background:url('../images/icons.png') 0px -85px no-repeat; position:absolute; top:40px; left:-33px; display:none; }
.top-ico em.ind-location { width:32px; height:100%; display:block; background:url('../images/icons.png') -205px 10px no-repeat; }
.top-ico em.ind-location .hint { width:148px; height:40px; background:url('../images/icons.png') -135px -85px no-repeat; position:absolute; top:40px; left:-40px; display:none; }
.add-event .hint , .ind-location .hint { padding-top:13px; text-align:center; color:#000; }

.top-ico .bor { height:29px; }
span.bor { width:3px; height:32px; display:block; position:absolute; top:12px; }
span.bl { left:0; }
span.br { right:0; }
span.nor { background:#296689; }
span.ros { background:#FF5885; }

.region { float:right; margin-right:15px; }
.region span { color:#FFF; }

#site { width:100%; display:table; position:relative; z-index:0; }
#site #photo-list { width:100%; display:table; }

#site ul.content { clear:both; width:100%; overflow:hidden; position:relative; z-index:0; }
#site ul.content li { border-bottom:2px solid #FFF; }
#site ul.template { display:none; }

.ul-1 { display:none; }

.ul-2 li { width:50%; float:left; }
.ul-2 .li-1 { margin:0 1px 0 -1px; }
.ul-2 .li-2 { margin:0 -1px 0 1px; }

.ul-3 li { width:33.33333333333333%; float:left; }
.ul-3 .li-1 { margin-left:-2px; }
.ul-3 .li-2 { margin:0 2px; }
.ul-3 .li-3 { margin-right:-2px; }

.ul-4 li { width:25%; float:left; }
.ul-4 .li-1 { margin:0 0 0 -4px; }
.ul-4 .li-2 { margin:0 2px; }
.ul-4 .li-3 { margin:0 2px 0 0; }
.ul-4 .li-4 { margin:0 -2px 0 0; }

.ul-5 li { width:25%; float:right; }
.ul-5 .li-1 { width:50%; margin:0px -2px 0 2px; }
.ul-5 .li-2 { margin:-2px 0 0 2px; }
.ul-5 .li-3 { margin:-2px 0 0 -2px; }
.ul-5 .li-4 { margin:0px 0 0 2px; }
.ul-5 .li-5 { margin:0px 0 0 -2px; }

.ul-6 li { width:33.33333333333333%; float:left; }
.ul-6 .li-1 { margin-left:-2px; }
.ul-6 .li-2 { margin:0 2px; }
.ul-6 .li-3 { margin-right:-2px; }
.ul-6 .li-4 { margin-left:-2px; }
.ul-6 .li-5 { margin:0 2px; }
.ul-6 .li-6 { margin-right:-2px; }

.ul-7 li { width:20%; float:left; }
.ul-7 .li-1 { width:40%; margin:0 2px 0 -2px; }
.ul-7 .li-2 { margin:-2px 2px 0 0; }
.ul-7 .li-3 { margin:-2px -2px 0 0; }
.ul-7 .li-4 { margin:-2px -4px 0 4px; }
.ul-7 .li-5 { margin:0 2px 0 0; }
.ul-7 .li-6 { margin:0 -2px 0 0; }
.ul-7 .li-7 { margin:0 -4px 0 4px; }

.ul-8 li { width:25%; float:left; }
.ul-8 .li-1 { margin:0 0 0 -4px; }
.ul-8 .li-2 { margin:0 2px; }
.ul-8 .li-3 { margin:0 2px 0 0; }
.ul-8 .li-4 { margin:0 -2px 0 0; }
.ul-8 .li-5 { margin:0 0 0 -4px; }
.ul-8 .li-6 { margin:0 2px; }
.ul-8 .li-7 { margin:0 2px 0 0; }
.ul-8 .li-8 { margin:0 -2px 0 0; }

.ul-9 li { width:20%; margin:0; float:left; }
.ul-9 .li-1 { width:40%; }
.ul-9 .li-2 { margin:-1px 2px 0 -2px; }
.ul-9 .li-3 { margin:-1px 0 0 0; }
.ul-9 .li-4 { margin:-1px 0 0 0; }
.ul-9 .li-5 { margin:-1px 0 0 0; }
.ul-9 .li-6 { margin:-1px 0 0 0; }
.ul-9 .li-7 { margin:-1px 2px 0 0; }
.ul-9 .li-8 { margin:-1px -4px 0 0; }
.ul-9 .li-9 { width:40%; margin:-1px -2px 0 0; }

.ph-box-9-1, .ph-box-9-2 { float:left; }
.ph-box-9-1 { margin:0 2px 0 -2px; }
.ph-box-9-2 { margin:0 2px 0 0; }

.photo { display:none; position:relative; }
.photo .image { width:100%; height:100%; position:absolute; z-index:1; }
.photo img { width:100%; height:100%; }
.photo .back { width:100%; height:100%; background:url('../images/alpha.png'); position:absolute; top:0; left:0; z-index:1; display:none; cursor:pointer; }
.photo a.box { height:100%; display:block; color:#FFF; }
.photo .time { position:absolute; top:5px; right:5px; z-index:2; }
.photo .time .clock { width:14px; height:15px; float:left; background:url('../images/icons.png') 0px -50px no-repeat; display:none;  }
.photo .time .tmp { font-size:12px; font-weight:normal; height:15px; float:left; line-height:17px; padding-left:5px; display:none;  }
.photo .time .date-g {  float:right; }
.photo  .time .date-g .day { padding:3px 5px; display:block; float:right; background:#31749B; font-weight:normal; color:#FFF; }
.photo  .time .date-g .day-str { padding:3px 5px; font-family: 'Museo500-Regular'; font-size:12px; display:none; float:right; }
.photo .info { position:absolute; left:10px; bottom:20px; z-index:2; font-family: 'Museo300-Regular'; font-weight:normal; }
.photo .info .favorite { width:42px; height:40px; overflow:hidden; background:url('../images/icons.png') -392px 0px; display:none; }
.photo .info .this-fav { display:block; }
.photo .info .this-fav:hover { background:url('../images/icons.png') -392px -40px; }
.photo .info h2 { font-size:35px; font-weight:normal; }
.info .more { margin-top:10px; padding-top:5px; font-family: 'Museo500-Regular'; font-size:15px; border-top:1px solid #FFF; display:none; }

.photo .loading { width:42px; height:40px; background:url('../images/alpha.png'); }
.photo .loading > div { width:100%; height:100%; background:no-repeat center; }
.photo .loading .load { background-image:url('../images/loading.gif'); }
.photo .loading .ok { background-image:url('../images/ico-ok.png'); }
.photo .loading .error { background-image:url('../images/ico-error.png'); }

/*COMENTARIO*/
.comment { width:300px; height:100%; padding-right:2px; background:#FFF; position:fixed; z-index:10; top:0; right:-353px; }
.com-back { width:53px; height:50px; position:fixed; top:0; right:-53px; z-index:10; line-height:50px; background-color:#31749B; cursor:pointer; }
.com-back span { width:23px; height:50px; display:block; margin: 14px 0 0 14px; background:url('../images/icons.png') -320px -130px no-repeat; }
.com-back:hover { background-color:#144059; }
.comment .espace { padding:10px 20px 15px 10px; }
.comment .espace h2 { font-weight:normal; color:#999; }
.comment .espace h2 span { font-size:15px; color:#31749B; font-weight:normal; }
.comment .espace .com { clear:both; display:table; margin-top:10px; }
.comment .espace .com h3 { font-size:12px; color:#333; font-weight:normal; }
.comment .espace .com h3 strong { color:#31749B; }
.comment .espace .com span { font-size:11px; color:#999; float:left; line-height:20px; }
.comment .espace .com a:link, .comment .espace .com a:visited { font-size:11px; color:#999; float:right; line-height:20px; }
.comment .espace .com a:hover { color:#31749B; }

/*GALERIA*/
.shadownPics, .shadown { width:100%; height:100%; background:url('../images/alpha.png'); position:fixed; top:0; left:0; display:none; }
.shadownPics { z-index:5; } .shadown { z-index:6; }
.shadownPics .gallery-box { width:100%; height:100%; overflow:auto; position:fixed; top:0; left:0; }
.shadownPics .gallery-box .box { width:600px; margin:-310px auto auto -310px; padding:10px; background-color:#FFF; position:fixed; top:50%; left:50%; }
.shadownPics .gallery-box .box .content { width:100%; display:table; position:relative;  }
.shadownPics .gallery-box .box .content img { width:100%; display:block; }
.shadownPics .gallery-box .box .content .img .sh { width:30px; height:16px; display:block; cursor:pointer; position:absolute; z-index:10; bottom:0px; right:0; background:url('../images/icons.png') -230px -50px;; }
.shadownPics .gallery-box .box .content .img .shb { background-position:-230px -66px; }
.shadownPics .gallery-box .box .content .img .description { width:100%; padding:5px 0; background:url('../images/alpha.png'); position:absolute; bottom:0px; color:#FFF; }
.shadownPics .gallery-box .box .content .img .description .caption { display:block; margin:0 5px 5px 5px; font-family: 'Museo300-Regular'; font-weight:normal; }
.shadownPics .gallery-box .box .content .img .description .author { width:100%; margin:5px; }
.shadownPics .gallery-box .box .content .img .description .author img { width:40px; height:40px; float:left; border:1px solid #FFF; margin-right:5px; }
.shadownPics .gallery-box .box .content .img .description .author h3 { font-family: 'Museo300-Regular'; font-size:12px; font-weight:normal; }
.shadownPics .gallery-box .box .content .img .description .author h3 strong { color:#296689; }
.shadownPics .gallery-box .box .slide-eve-next, .shadownPics .gallery-box .box .slide-eve-prev { width:25px; height:125px; background-image:url('../images/icons.png'); position:absolute; top:50%; margin-top:-65px; z-index:10; cursor:pointer; }
.shadownPics .gallery-box .box .slide-eve-prev { background-position:-380px -100px; left:-30px; }
.shadownPics .gallery-box .box .slide-eve-prev:hover { background-position:-380px -225px; }
.shadownPics .gallery-box .box .slide-eve-next { background-position:-405px -100px; right:-30px; }
.shadownPics .gallery-box .box .slide-eve-next:hover { background-position:-405px -225px; }
.shadownPics .gallery-box .box .slide-close { width:24px; height:23px; background:url('../images/icons.png') 0px -150px no-repeat; position:absolute; display:block; top:0; right:-30px; cursor:pointer; }
.shadownPics .gallery-box .box .slide-close:hover { background-position:-24px -150px; }
.shadownPics .gallery-box .box .slide-icos { position:absolute; top:40px; left:625px; cursor:pointer; }
.shadownPics .gallery-box .box .slide-icos .line { clear:both; width:250px; height:29px; line-height:29px; margin-bottom:3px; display:block; }
.shadownPics .gallery-box .box .slide-icos .icos { width:29px; height:29px; display:block; float:left; background:url('../images/icons.png') no-repeat; }
.shadownPics .gallery-box .box .slide-icos .fav { background-position:-0px -185px; }
.shadownPics .gallery-box .box .slide-icos .lug { background-position:-0px -215px; }
.shadownPics .gallery-box .box .slide-icos .com { background-position:-0px -245px; }
.shadownPics .gallery-box .box .slide-icos .cur { background-position:-0px -275px; }
.shadownPics .gallery-box .box .slide-icos .men { background-position:-0px -304px; }
.shadownPics .gallery-box .box .slide-icos .line span { padding:0 5px; color:#000; font-size:11px; display:none; float:left; height:29px; line-height:29px; background:url('../images/slide-icos-back.png') center repeat-x; }
.shadownPics .gallery-box .box .slide-icos .line span.p1 { width:7px; padding:0; background:url('../images/slide-icos-esqdir.png') center left no-repeat; }
.shadownPics .gallery-box .box .slide-icos .line span.p2 { width:7px; padding:0; background:url('../images/slide-icos-esqdir.png') center right no-repeat; }

.shadown .box-criar-evento { width:310px; height:320px; background:#FFF; position:absolute; top:50%; left:50%; margin:-160px auto auto -155px; }
.shadown .box-criar-evento .space { margin:10px; }
.shadown .box-criar-evento .space .box-h2 { font-size:15px; color:#31749B; margin-bottom:25px; } 
.shadown .box-criar-evento .space .row { position:relative; }
.shadown .box-criar-evento .space .row span.col1 { width:65px; display:inline-block; font-size:12px; line-height:20px; float:left; text-align:right; }
.shadown .box-criar-evento .space .row span.colM { display:inline-block; margin-right:5px; font-size:12px; line-height:20px; float:left; text-align:left; }
.shadown .box-criar-evento .space .row .col2 { width:210px; margin-right:10px; float:right; }
.shadown .box-criar-evento .space .row .col2M { width:240px; display:inline-block; margin-right:10px; float:left; line-height:20px; color:#666; font-family:'Museo500-Regular'; font-size:12px; }
.shadown .box-criar-evento .space .row .col2M span.userAdd { display:inline-block; padding:0 3px; border:1px solid #CCC; line-height:20px; color:#666; font-family:'Museo500-Regular'; font-size:12px; resize:none; }
.shadown .box-criar-evento .space .row .col2M span.userAdd em { width:6px; height:6px; margin:0 2px 0 5px; display:inline-block; background:url('../images/icons.png') -65px -165px no-repeat; }
.shadown .box-criar-evento .space .row .col2M span.userAdd em:hover { background-position:-65px -171px; cursor:pointer; }
.space .row input[type="text"], .space .row textarea { padding:0 3px; border:1px solid #CCC; line-height:20px; color:#666; font-family:'Museo500-Regular'; font-size:12px; resize:none; }
.space .row textarea.bor-less { width:285px; border:0; }
.space .row .campos-box { width:210px; }
.space .row .campos-boxM { width:70px; }
.space .pri-box { border:1px solid #CCC; width:130px; height:20px; resize:none; overflow: hidden; background: url('../images/ico-select.png') no-repeat right center #FFF; }
.space .pri-box:hover { border-color:#999; }
select { color:#999; font-family:'Museo500-Regular'; font-size:12px; font-weight:normal; cursor:pointer; background: none repeat scroll 0 0 transparent; border: medium none; padding:0 3px; width:150px; }
.rowDivide { margin:15px auto 10px auto; border-bottom:1px solid #CCC; }

.shadown .box-ind-location { width:310px; height:225px; background:#FFF; position:absolute; top:50%; left:50%; margin:-112px auto auto -155px; }
.shadown .box-ind-location .space { margin:10px; }
.shadown .box-ind-location .space .box-h2 { font-size:15px; color:#31749B; margin-bottom:25px; } 
.shadown .box-ind-location .space .row span.col1 { width:65px; display:inline-block; font-size:12px; line-height:20px; float:left; text-align:right; }
.shadown .box-ind-location .space .row .col2 { width:210px; margin-right:10px; float:right; }

.location-date { width:240px; height:140px; background:#31749B; border-left:10px solid #FFF; position:fixed; z-index:2; top:70px; color:#FFF; }
.location-date .day { font-family: 'Museo300-Regular'; font-size:80px; font-weight:normal; position:absolute; top:0px; right:10px; }
.location-date .time { font-family: 'Museo500-Regular'; font-size:12px; position:absolute; bottom:10px; left:10px; }
.location-info { width:40%; min-width:40%; height:100%; background:#FFF; position:fixed; z-index:1; top:0; left:0; color:#888; }
.location-info h1 { width:100%; margin-left:-10px; padding-top:20px; color:#666; font-size:45px; font-weight:normal; float:left; }
.location-info .content { margin-top:70px; padding:0px 50px 0 60px; }
.location-info .content h3 { font-size:15px; margin-bottom:10px; }
.location-info .content span { font-size:13px; font-weight:normal; }
.location-info .content .divide { clear:both; width:345px; height:1px; margin:15px 0 10px 0; border-bottom:1px solid #CCC; }

.comment-ico, .calendar-ico { width:53px; height:50px; position:fixed; z-index:1; left:20px; line-height:50px; background-color:#31749B; display:block; cursor:pointer; }
.comment-ico { top:65px; }
.calendar-ico { top:120px; }
.comment-ico span, .calendar-ico span { width:32px; height:50px; display:block; margin:10px 0 0 10px; }
.comment-ico span {  background:url('../images/icons.png') -80px -195px no-repeat; }
.calendar-ico span {  background:url('../images/icons.png') -115px -195px no-repeat; }
.comment-ico:hover, .calendar-ico:hover { background-color:#144059; }
#datepicker { position:fixed; top:120px; left:73px; z-index:1; background-color:#FFF; }

ul.pho-menu {  }
ul.pho-menu li { clear:both; height:25px; margin:0 0 10px 5px; }
ul.pho-menu li span { width:27px; height:25px; background:url('../images/icons.png') #31749B; display:block; float:left; }
ul.pho-menu li a { display:inline-block; height:25px; line-height:25px; margin-left:3px; padding:0px 10px; background-color:#31749B; color:#FFF; float:left; }
ul.pho-menu li a:hover { background:#143F58; }
ul.pho-menu li span.ind { background-position:-292px -103px; }
ul.pho-menu li span.add { background-position:-316px -103px; }
ul.pho-menu li span.fav { background-position:-341px -103px; }
ul.pho-menu li span.com { background-position:-291px -127px; }

.pg-next, .pg-prev { width:25px; height:125px; background-image:url('../images/icons.png'); position:fixed; top:50%; margin-top:-62px; cursor:pointer; z-index:10; display:none; }
.pg-prev { background-position:-380px -100px; left:10px; }
.pg-prev:hover { background-position:-380px -225px; }
.pg-next { background-position:-405px -100px; right:10px; }
.pg-next:hover { background-position:-405px -225px; }


.bottom-bar { width:100%; height:55px; margin:0; background:#31749B;  position:fixed; bottom:0; left:0; z-index:2; }
.bottom-bar .bottom-ico { width:65px; height:32px; float:left; margin-top:12px; border-right:3px solid #296689; position:relative; cursor:pointer; }
.container-search { display:table; float:left; }
.bottom-bar .search { background:url('../images/icons.png') -250px 0px no-repeat; }
.bottom-bar .inp-search { width:0; height:30px; margin:13px 0 0 10px; border:0; line-height:30px; background:#FFF; color:#AAA; float:left; display:none; }

#bottom-result { width:285px; bottom:55px; background:#296689; position:absolute; z-index:3; display:none; }
#bottom-result span { text-align:center; color:#FFF; display:block; line-height:50px; }
#bottom-search { display:none; }
#bottom-result #bottom-search { display:block; }
#bottom-result a.bottom-search { display:block; color:#296689; clear:both; height:50px; overflow:hidden; margin:2px; background:#FFF; }
#bottom-result a.bottom-search:hover { background:#F0F0F0; cursor:pointer; }
#bottom-result a.bottom-search .img { width:50px; height:50px; display:inline-block; float:left; margin-right:5px; }
#bottom-result a.bottom-search .img img { width:100%; }
#bottom-result a.bottom-search h3 { padding-top:5px; font-size:16px; height:20px; overflow:hidden; }
#bottom-result a.bottom-search h4 { font-size:13px; color:#666; }

.bottom-bar ul { float:left; } .bottom-bar ul.login { float:right; }
.bottom-bar ul.dir { float:right; }
.bottom-bar ul li { float:left; }
.bottom-bar ul li a { padding:0 20px; height:55px; line-height:55px; display:block; color:#FFF; position:relative; }
.bottom-bar ul li a:hover, .bottom-bar ul li a.menuAtivo { background:#296689; }
.bottom-bar ul li a.menuAtivo span { background:#FF5885; }

.bottom-bar ul li a em.fav { width:24px; height:100%; display:block; background:url('../images/icons.png') -150px -35px no-repeat; }
.bottom-bar ul li a em.mes { width:23px; height:100%; display:block; background:url('../images/icons.png') -175px -35px no-repeat; position:relative; }
.bottom-bar ul li a em.mes em.tot { width:17px; height:17px; display:block; background:url('../images/icons.png') -198px -50px no-repeat; position:absolute; top:10px; right:-8px; text-align:center; line-height:18px; letter-spacing:-1px; color:#FFF; font-size:10px; }

.bottom-bar .info, .bottom-bar a.login:link, .bottom-bar a.login:visited { float:right; padding:0 20px; height:55px; display:block; color:#FFF; position:relative; background:#296689; }
.bottom-bar .info .name { display:block; padding-top:15px; font-size:13px; }
.bottom-bar .info .fav-fri { display:block; font-size:11px; font-weight:normal; }

.bottom-bar a.login:link, .bottom-bar a.login:visited { border-left:5px solid #143F58; border-right:5px solid #143F58; line-height:55px; background-color:#143F58; }
.bottom-bar a.login:hover { background-color:#FF5885; border-color:#FF5885; }

/*SOBRE*/
.sobre { width:100%; background-color:#F4F4F4; color:#999; font-family: 'Museo300-Regular'; }
.sobre .sobre-menu { width:235px; position:fixed; float:left; background-color:#E8E8E8; }
.sobre .sobre-menu .content { margin:70px auto auto 50px; }
.sobre .sobre-menu .content h1 { margin-left:10px; font-size:45px; font-weight:normal; }
.sobre .sobre-menu .content ul.sobre-ul { width:90px; margin-top:25px; }
.sobre .sobre-menu .content ul.sobre-ul li { height:25px; padding-top:5px; border-top:1px solid #EFEFEF; border-bottom:1px solid #DFDFDF; }
.sobre .sobre-menu .content ul.sobre-ul li.noBorTop { border-top:0px; }
.sobre .sobre-menu .content ul.sobre-ul li a { height:15px; padding-left:5px; line-height:15px; color:#999; border-left:4px solid #E8E8E8; }
.sobre .sobre-menu .content ul.sobre-ul li a:hover, .sobre .sobre-menu .content ul.sobre-ul li a.ativo  { border-color:#FF5885; font-weight:bold; }

.sobre .sobre-info { width:415px; margin:80px 0 0 235px; float:left; }
.sobre .sobre-info .content { margin:0 15px auto 50px; }
.sobre .sobre-info .content h3 { font-weight:normal; }
.sobre .sobre-info .content h3.bold { font-weight:bold; font-size:14px; }
.sobre .sobre-info .content span, .sobre .sobre-info .content p { font-size:13px; }
.sobre .sobre-info .content p { margin:10px 0; }

/*EXPLORE*/
.explore { width:400px; height:100%; position:fixed; z-index:1; top:0; left:0; background-color:#F4F4F4; color:#999; font-family: 'Museo300-Regular'; }
.explore .explore-esq { width:400px; height:100%; float:left; background-color:#E8E8E8; }
.explore .explore-esq .content { margin:70px auto auto 50px; }
.explore .explore-esq .content h1 { margin-left:10px; font-size:45px; font-weight:normal; }
.titleAtivo  { display:block; height:15px; padding-left:5px; line-height:15px; color:#999; border-left:4px solid #FF5885; font-weight:bold; }
.explore .explore-esq .content-esq { margin:25px auto auto 10px; font-size:12px; }
.explore .explore-esq .content-esq h3 { margin-bottom:25px; color:#000; }
.explore .explore-esq .content-esq .box-city { width:200px; }
.explore .explore-esq .content-esq a.city:link, .explore .explore-esq .content-esq a.city:visited { font-weight:bold; padding:5px 10px; margin:0 5px 5px 0; background:#FFF; color:#666; float:left; }
.explore .explore-esq .content-esq a.city:hover { color:#FFF; background:#666; }
.explore .explore-esq .content-esq a.order:link, .explore .explore-esq .content-esq a.order:visited { width:300px; height:40px; line-height:40px; display:block; text-align:left; color:#666; background:url('../images/borGray.png') repeat-x bottom; position:relative; }
.explore .explore-esq .content-esq a.order span { width:12px; height:12px; display:block; position:absolute; top:14px; right:15px; background:url('../images/icons.png') -50px -149px no-repeat; }
.explore .explore-esq .content-esq a.order span.hover { background-position: -50px -161px; }
.explore .explore-esq .content-esq a.order span.ativo { background-position: -50px -173px; }

/*FAVORITOS*/
.favorites { width:400px; height:100%; position:absolute; z-index:1; top:0; left:0; background-color:#E8E8E8; color:#999; font-family: 'Museo300-Regular'; }
.favorites .fav { display:block; margin:0 0 0 15px; font-size:12px; font-weight:bold; }
.favorites h2 { width:290px; margin-bottom:20px; padding-left:10px; height:50px; line-height:50px; display:block; font-size:20px; font-weight:normal; text-align:left; color:#666; background:url('../images/borGray.png') repeat-x bottom; }
.favorites .favorites-esq { width:400px; height:100%; float:left; background-color:#E8E8E8; }
.favorites .favorites-esq .content { margin:70px auto auto 55px; }
.favorites .favorites-esq .content h1 { margin-left:10px; font-size:45px; font-weight:normal; }
.titleAtivo  { display:block; height:15px; padding-left:5px; line-height:15px; color:#999; border-left:4px solid #FF5885; font-weight:bold; }
.favorites .favorites-esq .content-esq { margin:25px auto auto 10px; font-size:12px; }
.favorites .favorites-esq .content-esq h3 { margin-bottom:25px; color:#000; }
.favorites .favorites-esq .content-esq h3.marNo { margin:0px; }

/*MESSAGES*/
.messages { width:100%; height:100%; background-color:#F4F4F4; color:#999; font-family: 'Museo300-Regular'; }
.messages .messages-esq { width:400px; position:fixed; float:left; background-color:#E8E8E8; }
.messages .messages-esq .content { margin:70px auto auto 50px; }
.messages .messages-esq .content h1 { margin-left:10px; font-size:45px; font-weight:normal; }
.messages .messages-esq .content-esq { margin:25px auto auto 10px; font-size:12px; }

.box-message-add { width:300px; }
.box-message-add .box-h2 { color:#31749B; margin-top:10px; }
.box-message-add textarea { width:290px; padding:5px; height:100px; resize:none; }
.box-message-add .row { font-size:15px; position:relative; }
.box-message-add .row span.colM { display:inline-block; margin-right:5px; line-height:20px; text-align:left; }
.box-message-add .row .col2M { width:290px; padding:5px; border-bottom:1px solid #CCC; display:block; background:#fff; line-height:25px; color:#666; }
.box-message-add .row .col2M span.userAdd { display:inline-block; padding:0 3px; border:1px solid #CCC; line-height:20px; color:#666; font-family:'Museo500-Regular'; font-size:12px; resize:none; }
.box-message-add .row .col2M span.userAdd em { width:6px; height:6px; margin:0 2px 0 5px; display:inline-block; background:url('../images/icons.png') -65px -165px no-repeat; }
.box-message-add .row .col2M span.userAdd em:hover { background-position:-65px -171px; cursor:pointer; }

.messages .messages-info { width:500px; margin-left:400px; padding-top:80px; height:100%; float:left; }
.messages .messages-info .content { margin:0 15px auto 50px; }
.messages .messages-info .content h3 { font-weight:normal; }
.messages .messages-info .content h3.bold { font-weight:bold; font-size:14px; }
.messages .messages-info .content span, .sobre .sobre-info .content p { font-size:13px; }
.messages .messages-info .content p { margin:10px 0; }

.messages .messages-info .content .mes-content { width:100%; display:none; border-bottom:1px solid #CCC; padding-bottom:10px; padding:5px; font-size:13px;  }

.messages .messages-info .content .mes-box { width:480px; display:none; }

#user-result { width:100%; max-height:200px; color:#296689; background:#296689; position:absolute; z-index:3; display:none; }
#user-result span { text-align:center; color:#FFF; display:block; line-height:50px; }
#user-search { display:none; }
#user-result .users-search { clear:both; height:50px; overflow:hidden; margin:2px; background:#FFF; }
#user-result .users-search:hover { background:#F0F0F0; cursor:pointer; }
#user-result .users-search .img { width:50px; height:50px; display:inline-block; float:left; margin-right:5px; }
#user-result .users-search .img img { width:100%; }
#user-result .users-search h3 { padding-top:5px; font-size:16px; height:20px; overflow:hidden; }
#user-result .users-search h4 { font-size:13px; color:#666; }


/*FRIENDS*/
#friends .friends { width:100%; display:table; padding:5px; margin:10px 0; float:left; }
#friends .friends img { float:left; margin-right:5px; padding:3px; width:80px; height:80px; background:#FFF; border:1px solid #ccc; }
#friends .friends .friends-info { width:380px; float:left; position:relative; }
#friends .friends .friends-info h4.name { color:#296689 }
#friends .friends .friends-info h4.login { color:#666 }
#friends .friends .friends-info .desde { position:absolute; top:0; right:0; line-height:80px; }
#friends .friends .separator { border-bottom:1px solid #F0F0F0; }

/*USER*/
.user { width:100%; display:table; padding:5px; margin:10px 0; float:left; }
.user img { float:left; margin-right:5px; padding:3px; width:150px; background:#FFF; border:1px solid #ccc; }
.user .user-info { line-height:20px; float:left; position:relative; }
.user .user-info h3.name { color:#296689; }
.user .user-info h4.login { color:#666 }
.user .user-info h4.email { color:#296689; text-decoration:underline; }
.user .user-info .desde { position:absolute; top:0; right:0; line-height:80px; }
.user .separator { border-bottom:1px solid #F0F0F0; }


/*MENUS - LINKS*/
a.menuPink:link, a.menuPink:visited , a.menuPinkAtivo{ width:300px; height:40px; line-height:40px; display:block; text-align:left; color:#666; background:url('../images/borGray.png') repeat-x bottom; position:relative; }
a.menuPink span.pink { width:3px; height:20px; background:#FF5885; position:absolute; top:10px; left:-10px; display:none; }
a.menuPink:hover span.pink, a.menuPinkAtivo span.pink { display:block; }
a.menuPinkAtivo { font-weight:bold; }
a.menuPink span.total { float:right; margin-right:15px; }

a.order:link, a.order:visited { width:300px; height:40px; line-height:40px; display:block; text-align:left; color:#666; background:url('../images/borGray.png') repeat-x bottom; position:relative; }
a.order span { width:12px; height:12px; display:block; position:absolute; top:14px; right:15px; background:url('../images/icons.png') -50px -149px no-repeat; }
a.order span.hover { background-position: -50px -161px; }
a.order span.ativo { background-position: -50px -173px; }

a.toggle:link, a.toggle:visited { width:480px; height:40px; line-height:40px; display:block; text-align:left; font-weight:bold; color:#333; border-bottom:1px solid #CCC; position:relative; }
a.toggle h4 { display:inline; }
a.toggle .span { width:8px; height:6px; display:block; position:absolute; top:16px; right:0px; background:url('../images/icons.png') -65px -149px no-repeat; }
a.toggle .span.ativo { background-position: -65px -155px; }
a.toggle em { float:right; margin-right:25px; color:#666; font-weight:normal; }

.clr { clear:both; }
.esq { float:left; }
.dir { float:right; }
.h05 { height:05px; }
.h10 { height:10px; }
.h20 { height:20px; }
.h25 { height:25px; }
.h30 { height:30px; }
.poi { cursor:pointer }
.cen { text-align:center; }
.noBor { border:none; }
.none { display:none; }
.bold { font-weight:bold; }
.altRolagem { height:70px; }
.marNo { margin:0px; }
.marRig05 { margin-right:5px; }
.marTop25 { margin-top:25px; }
.borRad02 { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

@media only screen and (max-width : 680px) {
    .shadown .gallery-box .box { width:100%; top:0; left:0px; margin:auto; padding:0 0 10px 0; }
	.shadown .gallery-box .box .slide-eve-prev { left:5px; }
	.shadown .gallery-box .box .slide-eve-next { right:5px; }
	.shadown .gallery-box .box .slide-close { top:12px; right:10px; cursor:pointer; }
	.shadown .gallery-box .box .slide-icos { left:auto; right:8px; cursor:pointer; }
	.shadown .gallery-box .box .slide-icos .icos { float:right; }
	.shadown .gallery-box .box .slide-icos .line span { float:right; }
	.shadown .gallery-box .box .slide-icos .line span.p1 { background:url('../images/slide-icos-diresq.png') center right; }
	.shadown .gallery-box .box .slide-icos .line span.p2 { background:url('../images/slide-icos-diresq.png') center left; }
}

.user_picture { float: left; width: 40px; height: 40px; padding:8px 5px 0 5px; }
.user_picture img { width: 100%; height: 100%; }

.config-normal, .config-click { width:30px; height:55px; display: block; border-right:2px solid #215270; background:#215270; float:right; }
.config-click { background:#FFF; border-color:#296689 }
.config-normal:hover { background:#1E4964; }
.config-normal span, .config-click span { width:15px; height:15px; margin: 20px auto; display:block; }
.config-normal span.normal { background:url('../images/icons.png') -260px -50px }
.config-click span.click { background:url('../images/icons.png') -260px -65px }

ul.config-menu { display:none; position:fixed; bottom:55px; right:0; background-color:#FFF; border-left:2px solid #296689; border-top:2px solid #296689; border-right:2px solid #296689; }
ul.config-menu li { clear:both; width:150px; }
ul.config-menu li a {  margin:1px; padding:0 10px; height:30px; line-height:30px; display:block; background:#F0F0F0; color:#296689; }
ul.config-menu li a:hover { background:#ccc; }